@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Exo 2";

  font-display: swap;
  src: url("../fonts/exo-2-black.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Exo 2";

  font-display: swap;
  src: url("../fonts/exo-2-bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Exo 2";

  font-display: swap;
  src: url("../fonts/exo-2-medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Exo 2";

  font-display: swap;
  src: url("../fonts/exo-2-regular.woff2") format("woff2");
}
