mixin modal-success()
  .modal__content-wrapper
    h2.modal__title
      span Вы могли выйграть
      span(data-gift="name")
    .modal__img-wrapper
      .modal__bg(data-gift="bg")
      .modal__img(data-gift="img")
    a.modal__button.btn.btn--modal(href="#") Перейти на DragonMoney
